<div class="container-fluid">
    <div class="row justify-content-center">
        <div class=".col-lg-6 .offset-lg-3">
            <h2>Parking House - example project</h2>
            <p>This project include:</p>
            <p>1. User Registration and authorization</p>
            <p>2. Models User, Orders and Invoices</p>
            <p>3. Register user can add the parking time</p>
            <p>4. Register user can see table of our parking orders and invoices</p>
            <p>5. Invoice automatically generate in the past month</p>
            <p>6. Register user can see our monthly invoices</p>
        </div>
    </div>
</div>