<nav ng-controller="navbarCtrl" class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-b-margin">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Parking House</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" ng-class="{'active':(curPath == 'main')}" href="/">Home</a>
            <a ng-show="login_username" class="nav-item nav-link" href="/new-order">Add parking</a>
        </div>
        <div class="navbar-nav mt-2 mt-md-0">
            <a ng-show="!login_username" class="nav-item nav-link active" href="/login">Login</a>
            <a ng-show="!login_username" class="nav-item nav-link active" ui-sref="registration" href="">Sign up</a>
            <a ng-show="login_username" class="nav-item nav-link active" href="/profile">Profile {{login_username}}</a>
            <a ng-show="login_username" class="nav-item nav-link active" href="" ng-click="logout()">Sign out</a>
        </div>
    </div>
</nav>